# Environment & secrets
env.py

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
env/
.venv/

# Django
db.sqlite3
staticfiles/
media/
test_db.sqlite3

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log